<nav>
  <div class="navbar">
    <div class="columnas">
        <div class="col-50" style="display: flex; align-items: center; justify-content: left;">
          <p><b>TAD_G07</b> | Taller de aplicaciones distribuidas | Grupo 7</p>
        </div>
        <div class="col-50" style="display: flex; align-items: center; justify-content: right;"></div>
      </div>
  </div>
</nav>

<div class="separador"></div>

<section>
  <div class="contenido">
    <app-principal></app-principal>
  </div>
</section>
