<div class="contenido">
    <div class="inicio-sesion">
        <div class="titulo">
            <p><b>REGISTRARSE</b></p>
        </div>
        <div class="separar"></div>
        <div class="cuerpo">
            <div class="flex" style="justify-content: left;">
                <div class="icono">
                    <!--<ion-icon name="person-outline"></ion-icon>-->
                </div>
                <div class="texto">
                    <p><b>Nombre</b></p>
                </div>
            </div>
            <input type="text" id="nombre_input" [(ngModel)]="nombre_user" name="nombre" placeholder="Nombre" required>
            <div class="separar"></div>
            <div class="flex" style="justify-content: left;">
                <div class="icono">
                    <!--<ion-icon name="person-outline"></ion-icon>-->
                </div>
                <div class="texto">
                    <p><b>Apellido paterno</b></p>
                </div>
            </div>
            <input type="text" id="apellPat_input" [(ngModel)]="aPat_user" name="apellidoPaterno" placeholder="Apellido paterno" required>
            <div class="separar"></div>
            <div class="flex" style="justify-content: left;">
                <div class="icono">
                    <!--<ion-icon name="person-outline"></ion-icon>-->
                </div>
                <div class="texto">
                    <p><b>Apellido materno</b></p>
                </div>
            </div>
            <input type="text" id="apellMat_input" [(ngModel)]="aMat_user" name="apellidoMaterno" placeholder="Apellido materno" required>
            <div class="separar"></div>
            <div class="flex" style="justify-content: left;">
                <div class="icono">
                    <!--<ion-icon name="mail-outline"></ion-icon>-->
                </div>
                <div class="texto">
                    <p><b>Correo</b></p>
                </div>
            </div>
            <input type="text" id="correo_input" [(ngModel)]="correo_user" name="correo" placeholder="correo@dominio.ejem" required>
            <div class="separar"></div>
            <div class="flex" style="justify-content: left;">
                <div class="icono">
                    <!--<ion-icon name="lock-closed-outline"></ion-icon>-->
                </div>
                <div class="texto">
                    <p><b>Constraseña</b></p>
                </div>
            </div>
            <input type="password" id="contra_input" [(ngModel)]="contra_user" name="contrasenia" placeholder="********" required>
            <div class="separar"></div>
            <div class="flex" style="justify-content: left;">
                <div class="icono">
                    <!--<ion-icon name="phone-portrait-outline"></ion-icon>-->
                </div>
                <div class="texto">
                    <p><b>Nro Celular</b></p>
                </div>
            </div>
            <input type="text" id="celular_input" [(ngModel)]="celular_user" name="celular" placeholder="xxxxxxxxx" required>
        </div>
        <div class="enviar">
            <input type="submit" id="register" value="Register"
                style="text-align: center; cursor: pointer;" (click)="registrarUsuario(nombre_user, aPat_user, aMat_user, correo_user, contra_user, celular_user)">
        </div>
        <div class="separar"></div>
        <div class="separar"></div>
        <div class="volver" id="volver" (click)="enviarMensaje()">
            <p>Volver →</p>
        </div>
    </div>
</div>