<div class="contenido">
    <div class="inicio-sesion">
        <div class="titulo">
            <p><b>INICIAR SESIÓN</b></p>
        </div>
        <div class="separar"></div>
        <div class="cuerpo">
            <div class="flex" style="justify-content: left;">
                <div class="icono">
                    <!--<ion-icon name="person-circle-outline"></ion-icon>-->
                </div>
                <div class="texto">
                    <p><b>Usuario</b></p>
                </div>
            </div>
            <input type="text" id="correo_input" [(ngModel)]="correo_user" name="usuario" placeholder="User" required>
            <div class="separar"></div>
            <div class="flex" style="justify-content: left;">
                <div class="icono">
                    <!--<ion-icon name="lock-closed-outline"></ion-icon>-->
                </div>
                <div class="texto">
                    <p><b>Constraseña</b></p>
                </div>
            </div>
            <input type="password" id="contra_input" [(ngModel)]="contra_user" name="contrasenia" placeholder="********" required>
        </div>
        <div class="enviar">
            <input type="submit" id="login" value="Log In"
                style="text-align: center; cursor: pointer;" (click)="verificarDatos(correo_user, contra_user)">
        </div>
    </div>
</div>