<div class="section">
    <app-login-register id="hojaLoginRegister"
        (user_log)="recibirUserLog($event)"
        (user_tarjetas_log)="recibirUserTarjetasLog($event)"
        (user_transacciones_log)="recibirUserTransaccionesLog($event)"
        (user_compradores_log)="recibirUserCompradoresLog($event)"
        (user_colecciones_log)="recibirUserColeccionesLog($event)"
        (user_materiales_log)="recibirUserMaterialesLog($event)"
        (mensaje_log)="recibirMensajes($event)"
    ></app-login-register>

    <app-logueado class="cerrado" id="hojaLogueado"
        [user_input]="user_log"
        [user_tarjetas_input]="user_tarjetas_log"
        [user_transacciones_input]="user_transacciones_log"
        [user_colecciones_input]="user_colecciones_log"
        [user_compradores_input]="user_compradores_log"
        [user_materiales_input]="user_materiales_log"
        (mensajeSalir)="recibirMensajes($event)"
    ></app-logueado>
    
    <data-dashboard class="cerrado" id="hojaAdmin"
    ></data-dashboard>
</div>